/* Nav Bar */
.logo {
  width: 167px;
  padding-left: 22px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 0 5px 5px 2px gray;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 20px;
}
.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
.nav-link:hover {
    font-weight: 800;
    cursor: pointer;
  }
